RewriteEngine On
RewriteBase /

# 1. Definir que hieleria.php es el archivo principal (Index)
# Esto hace que al entrar al dominio cargue este archivo sin mostrar el nombre
DirectoryIndex hieleria.html index.php

# 2. Si alguien intenta escribir /hieleria.php manualmente, lo mandamos a la raíz /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /hieleria\.html\ HTTP/ [NC]
RewriteRule ^hieleria\.html$ / [R=301,L]

# 3. Lo mismo si escriben /hieleria sin extensión
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /hieleria\ HTTP/ [NC]
RewriteRule ^hieleria$ / [R=301,L]

# 4. Limpieza para el index.php viejo
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/ [NC]
RewriteRule ^index\.php$ / [R=301,L]